html,body,#root,#editor{
  height: 100vh;
  margin: 0;
  padding: 0;
}

html,body,#root{
  background-color: PaleGreen;
}

#editor{
  margin: 10px;
}

#doc-id{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#doc-id div:first-child{
  font-size: 20px;
  width: 140px;
  margin: 0;
  padding-right: 10px;
}

#doc-id div:nth-child(2){
  flex: 1;
  margin: 0;
  display: flex;
}

#doc-id div:nth-child(2) input{
  flex: 1;
  background-color: rgba(0,0,0,0);
  border-width: 0;
  margin: 0;
  font-size: 20px;
}

.DraftEditor-root{
  background-color: White;
  min-height: 70%;
}

.DraftEditor-root{
  border: 1px solid black;
}

.btn-toolbar{
  margin: 0;
  flex: 1;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-toolbar{
  flex: 3;
  display: flex;
}

.select-toolbar select {
  height: 100%;
  flex: 1;
}

.btn-toolbar:hover{
  background-color: rgb(245,245,245);
}

#toolbar{
  display: flex;

}

.text-align-left{
  text-align: left;
}

.text-align-center{
  text-align: center;
}

.text-align-right{
  text-align: right;
}

#save-bar{
  display: flex;
}

.btn-save{
  margin-right: 10px;
}

.footer-label{
  margin-right: 10px;
}
