html,body,#root{
  height: 100%;
}

#editor{
  margin: 10px;
}

.DraftEditor-root{
  border: 1px solid black;
}

.btn-toolbar{
  margin: 0;
  flex: 1;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-toolbar{
  flex: 3;
}

.btn-toolbar:hover{
  background-color: rgb(245,245,245);
}

#toolbar{
  display: flex;

}

.text-align-left{
  text-align: left;
}

.text-align-center{
  text-align: center;
}

.text-align-right{
  text-align: right;
}

#save-bar{
  display: flex;
}

.btn-save{
  margin-right: 10px;
}

.footer-label{
  margin-right: 10px;
}
